ul,ol{list-style:none;}
a{text-decoration:none;color:#5c5c5c;}

.title-small{color:#5c5c5c}
.sidebar input {
	margin-right: 5px;
}
.card-body ul li ul {
	padding-left: 30px;
}
.card-body ul  {
	padding: 0;
}
.card-body ul li{margin:0 0 10px 0}

.rh .display-inline{display:inline-block;}
.rh .mr-15{margin-right:15px;}
.rh .mb-20{margin-bottom:15px;}
.rh .mt-15{margin-top:15px;}
.rh .title-default{font-size: 18px;}
.rh-btn {

	padding: 5px 10px;
    border-radius: 3px;

}

.rh-links {margin-bottom: 15px;}
.rh-links ul{list-style: none;padding: 0;}
.rh-links ul li {display: inline-block;}
.rh-links ul li a{color:#0f9cf3}
.active{color:#000!important}

.rh-select-wrap {
	float: left;
	width: 60%;
}
.rh-bttn-wrap {
	width: 35%;
	float: left;
	margin-left: 5%;
}
.rh-bttn-wrap .btn-primary {
	color: #000;
	background-color: transparent;
	border-color: #000;
    padding:7px;

}


.texteditor{padding: 30px 0;}

.card-foot--left{width:65%;float:left}
.card-foot--right{width:35%;float:left}


.bootstrap-tagsinput .tag {
	margin-right: 2px;
	color: #2F84EA;
    font-weight: 700;

}


.bootstrap-tagsinput {
	width: 100%;
}
.bootstrap-tagsinput .tag {
	color: #fff;
	background: #2F84EA;
	padding: 0 5px;
	border-radius: 5px;
}


.rh-card {
	padding: 20px 15px;
	margin-bottom: 15px;
	box-shadow: 3px 10px 15px 2px rgba(125, 147, 178, 0.24);
}


.invalid-feedback {
	display: block;

}

